main {
  margin-inline: 15px;

  .title {
    border-bottom: 1px solid #d3d3d3;
  }

  .mainSectionInner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
  }
}
