header {
  background: url("../../assets/Images/raw/Girls-Listen-Music_0.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  border-bottom: 15px solid #66faee;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
