@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

aside {
  @extend %container;
  flex-basis: 25%;

  //filter container
  .filter-container {
    padding-block: 15px;

    &:not(:last-child) {
      border-bottom: var.$base-border;
    }

    .filter-number-btn {
      padding: var.$gutter-tiny var.$gutter-small;
      border: none;
      background-color: var.$background-color-tertiary;
      border-radius: var.$gutter-medium;
      font-weight: var.$font-weight-bold;
      color: var.$text-color-primary;
    }
  }

  ul {
    @include mix.flex(column, center, stretch, var.$gutter-small);
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: var.$text-color-primary;

    .filter-list-inner {
      @include mix.flex(row, space-between, center);
    }

    p {
      margin-bottom: 0;
    }

    li {
      cursor: pointer;
    }
  }
}
