.footer {
  background-color: #f7f7f7;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li a {
  text-decoration: none;
  color: #de8560;
  text-transform: uppercase;
}

li:not(:last-child) {
  margin-bottom: 1rem;
}
