.container {
  text-align: center;

  img {
    width: 200px;
    height: 200px;
  }

  p {
    margin-bottom: 0;
    font-weight: 600;

    span {
      color: #4d4d4d;
      font-weight: 400;
    }
  }
}
